.card-container {
  backdrop-filter: blur(10px);
  background-color: var(--color-bg-primary);
  border-radius: var(--border-radius-medium);
  padding: 1rem;
}

.card-container h2 {
  margin: 0 auto;
  width: fit-content;
}
