.card-container {
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: var(--color-bg-primary);
  border-radius: var(--border-radius-medium);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
