<h1>Shopping list</h1>

<div *ngIf="!list">Loading...</div>

<div *ngIf="list" class="shopping-list__content">
  <div class="shopping-list__input-container">
    <input type="text" class="shopping-list__input" />
    <button class="shopping-list__add-btn">Add</button>
  </div>

  <div class="shopping-list__lists">
    <div *ngFor="let cat of list">
      <h2>{{ cat.category }}</h2>
      <ul>
        <li *ngFor="let item of cat.items">
          <app-shopping-list-item [item]="item"></app-shopping-list-item>
        </li>
      </ul>
    </div>
  </div>
</div>
