:host {
  align-items: center;
  aspect-ratio: 1 / 1;
  background-color: rgb(16, 40, 43);
  background-size: cover;
  border-radius: var(--border-radius-medium);
  box-shadow: 3px 3px 10px var(--color-bg-secondary);
  display: flex;
  font-size: 1.75rem;
  height: 80%;
  justify-content: center;
  position: relative;
  transition: transform ease-out 0.2s;
}

button {
  background-color: transparent;
  color: white;
  text-shadow: 1px 1px rgb(16, 40, 43), 1px 0px rgb(16, 40, 43),
    0px 1px rgb(16, 40, 43), 0px 0px rgb(16, 40, 43), -1px 0px rgb(16, 40, 43),
    -1px -1px rgb(16, 40, 43), 0px -1px rgb(16, 40, 43),
    0px 0px 10px rgb(16, 40, 43);
}

.meal-selection-btn-overlay {
  background: linear-gradient(
    -45deg,
    rgba(16, 40, 43, 0.8) 0%,
    rgba(16, 40, 43, 0) 100%
  );
  border-radius: var(--border-radius-medium);
  inset: 0;
  outline: 0.1rem solid rgb(255, 255, 255);
  outline-offset: -0.75rem;
  position: absolute;
}

.meal-selection-btn-title {
  position: relative;
  z-index: 1;
}

:host::after,
:host::before {
  aspect-ratio: 1 / 1;
  border-radius: var(--border-radius-medium);
  content: "";
  height: 100%;
  position: absolute;
  transition: transform ease-out 0.2s;
  z-index: -1;
}

:host::after {
  background-color: var(--color-bg-primary);
}

:host::before {
  background-color: rgb(241, 227, 147);
}

:host(:hover) {
  cursor: pointer;
}

:host(:hover)::after {
  transform: rotate(-15deg) translateX(-1.5rem);
}

:host(:hover)::before {
  transform: rotate(-25deg) translateX(-2.5rem);
}
