@import url(../../styles/food-modal.css);

:host {
  z-index: 3;
}

.meal-edit-modal__image-wrapper {
  height: 15rem;
  margin-bottom: 2rem;
  width: 100%;
}

.meal-edit-modal__image {
  border-radius: var(--border-radius-medium);
  height: 100%;
}

.meal-edit-modal__img-upload-label {
  border: 1px dashed white;
  border-radius: var(--border-radius-medium);
  height: 17rem;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.meal-edit-modal__img-upload-input {
  display: none;
}

.meal-edit-modal__form-group {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.meal-edit-modal__ingredients-input-wrapper {
  align-items: center;
  display: flex;
  gap: 1rem;
  width: 100%;
}

.meal-edit-modal__ingredients-input {
  width: 100%;
}

.meal-edit-modal__ingredients-add-btn {
  flex-shrink: 0;
}

.meal-edit-modal__ingredients-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.meal-edit-modal__ingredients-list-item {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 0.75rem 0;
}

.meal-edit-modal__ingredients-list-item:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.meal-edit-modal__ingredient-actions {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.meal-edit-modal__ingredient-quantity {
  align-items: center;
  display: flex;
  min-width: 1rem;
  justify-content: center;
}
