<div
  [class]="{
    'meal-edit-modal__wrapper': true,
    'meal-edit-modal__wrapper--closing': closing
  }"
>
  <button class="meal-edit-modal__close-btn" (click)="closeModal(false)">
    <img src="../../../assets/xmark-solid.svg" width="20" />
  </button>
  <div class="meal-edit-modal__image-wrapper">
    <img
      [src]="imagePreview ? imagePreview : '/assets/meal-placeholder.png'"
      class="meal-edit-modal__image"
    />
  </div>
  <div>
    <form
      [formGroup]="mealForm"
      (ngSubmit)="onSubmit()"
      enctype="multipart/form-data"
    >
      <label for="image-upload" class="meal-edit-modal__img-upload-label"
        ><div class="meal-edit-modal__img-upload-btn">
          <img
            src="../../../assets/arrow-up-from-bracket-solid.svg"
            width="20"
          /></div
      ></label>
      <input
        type="file"
        (change)="onFileSelected($event)"
        accept="image/*"
        id="image-upload"
        class="meal-edit-modal__img-upload-input"
      />

      <div class="meal-edit-modal__form-group">
        <label for="name">Name</label>
        <input id="name" formControlName="name" type="text" />
      </div>

      <div class="meal-edit-modal__form-group">
        <label for="ingredients-input">Ingredients</label>
        <div class="meal-edit-modal__ingredients-input-wrapper">
          <input
            id="ingredients-input"
            formControlName="ingredients"
            class="meal-edit-modal__ingredients-input"
            list="ingredients-list"
          />
          <datalist *ngIf="recentIngredients" id="ingredients-list">
            <option
              *ngFor="let ingredient of recentIngredients"
              [value]="ingredient.name"
            ></option>
          </datalist>
          <button
            class="meal-edit-modal__ingredients-add-btn"
            type="button"
            (click)="onIngredientAdd()"
          >
            <img src="../../../assets/plus-solid.svg" width="20" />
          </button>
        </div>

        <ul *ngIf="meal.ingredients" class="meal-edit-modal__ingredients-list">
          <li
            *ngFor="let ingredient of meal.ingredients"
            class="meal-edit-modal__ingredients-list-item"
          >
            {{ ingredient.name }}
            <div class="meal-edit-modal__ingredient-actions">
              <button
                class="meal-edit-modal__ingredient-quantity-decrease-btn"
                (click)="onIngredientDecrease(ingredient)"
                type="button"
              >
                <img src="../../../assets/minus-solid.svg" width="20" />
              </button>
              <div class="meal-edit-modal__ingredient-quantity">
                <span>{{ ingredient.quantity }}</span>
              </div>
              <button
                class="meal-edit-modal__ingredient-quantity-increase-btn"
                (click)="onIngredientIncrease(ingredient)"
                type="button"
              >
                <img src="../../../assets/plus-solid.svg" width="20" />
              </button>
              <button
                class="meal-edit-modal__ingredient-remove-btn"
                (click)="onIngredientRemove(ingredient)"
                type="button"
              >
                <img src="../../../assets/trash-can-solid.svg" width="20" />
              </button>
            </div>
          </li>
        </ul>
      </div>

      <button
        type="submit"
        [disabled]="!mealForm.valid"
        class="meal-edit-modal__form-submit-btn"
      >
        <img src="../../../assets/check-solid.svg" width="20" />
      </button>
    </form>
  </div>
</div>
