:host {
  animation-duration: 0.3s;
  animation-name: slide-in-page;
  animation-timing-function: ease-in-out;
  backdrop-filter: blur(10px);
  background-color: var(--color-bg-primary);
  width: 100%;
}
