:host {
  display: flex;
  gap: 1rem;
}

app-meal-plan {
  width: 40%;
}

.food__actions {
  align-items: center;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  justify-items: center;
  width: 60%;
}
