:root {
  --color-bg-primary: rgba(6, 22, 23, 0.4);
  --color-bg-secondary: rgba(30, 38, 39, 0.8);
  --color-bg-tertiary: rgb(16, 40, 43);

  --color-glow-gloss: rgba(203, 216, 241, 0.4);
  --color-glow-shadow: rgba(21, 33, 56, 0.4);
  --color-glow-ambient-narrow: rgb(241, 227, 147);
  --color-glow-ambient-wide: rgb(253, 207, 56);
  --color-glow-spinning-narrow: rgb(226, 234, 248);
  --color-glow-spinning-wide: rgba(243, 177, 34, 0.6);

  --border-radius-small: 0.25rem;
  --border-radius-medium: 0.5rem;

  --box-shadow-dim-glow: 2px 2px 5px var(--color-glow-shadow),
    -1px -1px 5px var(--color-glow-gloss),
    0 0 4px var(--color-glow-ambient-narrow);

  --box-shadow-static-glow: -1px -1px 5px var(--color-glow-gloss),
    0 0 4px var(--color-glow-ambient-narrow),
    -2px -2px 7px var(--color-glow-spinning-narrow),
    0 0 7px var(--color-glow-ambient-wide),
    2px 2px 10px var(--color-glow-spinning-wide);
}

* {
  font-family: "Quicksand", sans-serif;
  color: white;
}

html,
body,
app-root {
  height: 100vmin;
}

body {
  background: url("assets/marble.jpg");
  background-size: cover;
  margin: 0;
}

h1 {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0 0 1.5rem;
  position: relative;
  width: max-content;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 0 0.5rem;
}

h1::after {
  content: "";
  position: absolute;
  background-color: white;
  bottom: -0.5rem;
  left: 10%;
  right: 10%;
  height: 1px;
}

button {
  border: none;
  cursor: pointer;
  font-size: inherit;
  padding: 0;
}

input {
  background-color: var(--color-bg-primary);
  border: 1px solid var(--color-bg-tertiary);
  border-radius: var(--border-radius-medium);
  font-size: 1rem;
  padding: 0.5rem;
  transition: box-shadow ease-out 0.1s;
}

input:focus {
  box-shadow: var(--box-shadow-static-glow);
}

app-home,
app-food,
app-shopping-list {
  animation-duration: 0.3s;
  animation-name: slide-in-page;
  animation-timing-function: ease-in-out;
}

app-food,
app-shopping-list {
  backdrop-filter: blur(10px);
  background-color: var(--color-bg-primary);
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
}

@keyframes slide-in-page {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}
